<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="sensorPortrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eleksayon"
        tools:targetApi="31">
        <activity
            android:name=".AdminLogInPage"
            android:exported="false" />
        <activity
            android:name=".StudentVoteActivity"
            android:exported="true" />
        <activity
            android:name=".student_dashboard"
            android:exported="true" />
        <activity
            android:name=".AddCandidate"
            android:exported="true" />
        <activity
            android:name=".AdminDashboard"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LogInPage"
            android:exported="false" />
        <activity android:name="com.example.eleksayon.ViewPage" />

        <activity
            android:name=".Reminder"
            android:label="Reminder Activity">
        </activity>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
